<ion-header>
  <ion-navbar>
    <ion-title>User Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <h2>Identify Yourself</h2>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]="model.username" name="username" tabindex="0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="text" [(ngModel)]="model.password" name="password"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Login</button>
    <hr/>
    <button ion-button disabled block>Google</button>
    <button ion-button disabled block>Facebook</button>
  </form>
</ion-content>


