page-home {

  .profile-info {
    width: 100%;
    min-height: 72px;
    z-index: 2;
    text-align: center;
  }

  .profile-name {
    color: #444;
    font-size: 26px;
  }

  .profile-description {
    font-size: 15px;
    color: #888;
  }

  .profile-description a {
    color: #888;
  }

  .profile-image {
    float: left;
    border-radius: 50px;
    border: 1px solid #fff;
    width: 64px;
    height: 64px;
    margin: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }

}
