<ion-view title="Capture Data" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-camera"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-refresh"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="captureData-button-bar3" class="button-bar">
      <button id="captureData-button18" class="button button-dark button-block icon ion-camera"> Pic</button>
      <button id="captureData-button19" class="button button-dark button-block icon ion-ios-barcode-outline"> Scan</button>
      <button id="captureData-button20" class="button button-dark button-block icon ion-pinpoint"> Point</button>
    </div>
    <ion-list id="captureData-list5">
      <ion-item class="item-avatar" id="captureData-list-item12">
        <h2>Johnny checked in</h2>
        <p>Brussels, Belgium</p>
      </ion-item>
      <div class="item item-body" id="captureData-list-item-container2">
        <div id="captureData-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Scanned barcode:
            <strong>7826348721394</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-thumbnail-left" id="captureData-list-item11">
        <h2>Captured Image</h2>
        <p style="white-space:normal;">This image was captured at 14:21 PM on the 25'th of May 2017.</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>