<ion-view title="Cloud Sync" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-cloud"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-refresh"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="cloudSync-button-bar2" class="button-bar">
      <button id="cloudSync-button12" class="button button-dark button-block">Sync Up</button>
      <button id="cloudSync-button13" class="button button-stable button-block">Sync Down</button>
    </div>
    <ion-list id="cloudSync-list4">
      <div class="item item-body" id="cloudSync-list-item-container1">
        <div id="cloudSync-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Note:</strong> Local changes were detected.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>