<ion-view title="More Features" id="page3">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-cart"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-refresh"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="moreFeatures-form2" class="list">
      <label class="item item-select" id="moreFeatures-select1">
        <span class="input-label">Category:</span>
        <select>
          <option>All Categories</option>
          <option>Task Management</option>
          <option>Data Collection</option>
          <option>Security &amp; Authentication</option>
          <option>Other</option>
        </select>
      </label>
      <label class="item item-input" id="moreFeatures-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search by keyword(s)">
      </label>
      <ion-item class="item-divider" id="moreFeatures-list-item-divider2"> Found 2 search results</ion-item>
      <ion-item class="item-thumbnail-left" id="moreFeatures-list-item26">
        <h2>QR Code Scanner</h2>
        <p style="white-space:normal;">Scan QR codes of URLs, Text Messages, Phone Numbers and more...</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="moreFeatures-list-item17">
        <h2>Cloud Storage Sync</h2>
        <p style="white-space:normal;">Syncronise your local data with one of the supported cloud providers.</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>