<ion-view title="My Home Page" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-home"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-refresh"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="myHomePage-heading1" style="color:#000000;">Welcome Back!</h1>
    <div id="myHomePage-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This is a little
        <strong>prototype</strong> app that explores mobile concepts and integrations.</p>
    </div>
  </ion-content>
</ion-view>